#timer, #questions, #score-entry, #fail, #success, #submitted {
    display: none;
}

nav {
    padding: 20px;
}

article, section {
    padding: 20px;
    text-align: center;
}

form {
    padding: 60px;
}

.card-body {
    padding: 11px;
}